.filter-list__item{
  box-sizing: border-box;
}
.filter-list__price .slider-wrapper, .filter-list__trade-in .slider-wrapper {
  position: relative;
  margin-right: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 91%;
}
.slider-range,.slider-rangeAdd {
  height: 4px;
}
.noUi-target{
  border: none;
}
.noUi-touch-area {
  position: absolute;
  left: 20px;
}
.noUi-tooltip {
  display: none;
}
.noUi-connect {
  background-color: #ed0000;
  height: 30px;
}
.noUi-connects {
  background-color: #d3d3d3;
}
.noUi-handle::after,
.noUi-handle::before {
  display: none;
}
.noUi-handle:focus {
  outline: none;
}
.noUi-handle-upper,
.noUi-handle-lower {
  background-color: #ed0000;
  transform: translate(0, -3px);
  box-shadow: none;
  border: none;
  width: 10px;
}
.noUi-handle-upper {
  transform: translate(0px, -3px);
}

.noUi-horizontal .noUi-handle {
  width: 20px;
  height: 20px;
}
 .price-input {
   width: 100%;
  display: flex;
  justify-content: space-between;
}
.filter-list__item .price-input input, .filter-list__trade-in .price-input input{
margin: 0;
}
.filter-list__price  .filter-list__item{
  flex-direction: column;
  margin-bottom: 0;
}
 .filter-list__price .price-input input, .filter-list__trade-in .price-input input{
  border: solid 1px rgb(200, 200, 200);
  max-width: 9.7rem;
  width: 100%;
  height: 0.6rem;
  padding: 1rem;
}
.filter-list__price .price-input input:first-child, .filter-list__trade-in .price-input input:first-child {
  margin-right: 10px;
}
.filter-list__price .price-input input:focus , .filter-list__trade-in .price-input input:focus {
  transition: 0.1s;
  outline: none;
  color: red;
  border: solid 1px #ed0000;
}
.filter-list__price .price-input input[type="number"], .filter-list__trade-in .price-input input[type="number"] {
  -moz-appearance: textfield;
}
.filter-list__price .price-input input::-webkit-inner-spin-button,
.filter-list__price .price-input input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.filter-list__trade-in .filter-list__item{
  flex-direction: column;
}

@media (max-width: 768px) {
 .filter-list__price .price-input input , .filter-list__trade-in .price-input input {
    max-width: unset;

    width: 100%;
  }
}
