@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after :focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

input::-ms-clear:focus {
  outline: none;
}

button {
  cursor: pointer;
}

button:focus {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*------------*/
@font-face {
  font-family: MMC-Regular;
  src: url(../fonts/MMC-Regular.woff);
}
@font-face{
    font-family: MMC-Bold;
  src: url(../fonts/MMC-Bold.woff);  
}
@font-face{
    font-family: MMC-Medium;
  src: url(../fonts/MMC-Medium.woff);  
}
@font-face{
    font-family: test;
  src: url(../fonts/test.ttf);  
}
@font-face{
    font-family: MMC-Bold;
  src: url(../fonts/MMC-Bold.woff);  
}
@font-face{
    font-family: TradeGothic-CondBoldTwenty;
  src: url(../fonts/TradeGothic-CondBoldTwenty.woff);  
}
@font-face{
    font-family: iconsNative;
  src: url(../fonts/iconsNative.woff2);  
}
body{
    font-family: 'MMC-Regular';
    background-color: rgb(218, 218, 218);
}
.car-list {
}
.car-list__wrapper {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}
.car-list__item {
    max-width: 264px;
    margin: 10px;
    background-color: #fff;
    padding: 0 20px 20px;
    border-radius: 2px;
}
.car-list__img  img{
width: 100%;
}
.car-list__title {
    
}
.car-list__title h3 {
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 30px;   
    color: #222;
}
.car-list__title div {
display: flex;
justify-content: space-between;
}
.car-list__title span{
    text-transform: uppercase;
    font-size: 14px;
    color: gray;
    margin-bottom: 20px;
}
.car-list__features{
    margin-bottom: 25px;
}
.car-list__features div {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 5px;
}
.car-list__features p{
    margin-left: 10px;
    font-size: 14px;
    letter-spacing: 0px;
}
.car-list__condition {
}
.car-list__condition span {
    font-size: 13px;
    color: gray;
}
.car-list__status span:first-child {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: green;
    margin-right: 10px;
}
.car-list__status{
    margin-bottom: 20px;
}
.car-list__off {
    display: none;
}
.car-list__price {
    font-size: 18px;
    color: rgba(128, 128, 128, 0.472);
    
}
.car-list__price-from { 
     font-size: 20px;   
    color: black;   
    margin-bottom: 10px; 
}
.car-list__price-from span{
    
}
.car-list__price-to {
    text-decoration: line-through;
    letter-spacing: -1.5px;
}
.car-list__more-price {
    margin-top: 10px;
}
.car-list__more-price a{
    height: 20px;
    display: flex;
    align-items: flex-end;
    color: #c3002f;;
}
.car-list__more-price a img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.car-list__location {
    margin-top: 20px;
}
.car-list__location{
    display: flex;
    align-items: center;
    font-family:MMC-Bold ;
    color: rgb(172, 172, 172);
}
.car-list__location img{
    margin-right: 10px;
}
.city {
}
